extends layout

block content
  h1= title
    - let sauces  = results
  div(class="container-fluid mt-3")
  div(class="row")
    each i ,index in sauces  
      div(class="col-sm-4")  #{i.company} - #{i.package} -#{i.prize}
     
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }