extends layout

block content
  h1= title
    - let items  = results
  div(class="container-fluid mt-3")
  div(class="row m-1")
    each a in items
      - let destination = `dispatch(\"/sauces/update?id=${a._id}\")`
      div(class="row-sm-2", class="m-1") Company #{a.company}(#{a.package}) is #{a.prize}
        button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
     
      function dispatch(path)
      {
        window.location.href=path
      }