extends layout

block content
  h1= title
    - let items  = results
  div(class="container-fluid mt-3")
  div(class="row m-1")
    each a in items
      - let destinationupdate = `dispatch(\"/sauces/update?id=${a._id}\")`
      - let destinationcreate = `dispatchCreate(\"/sauces/create\")`
      - let destinationdelete = `dispatchDelete(\"/sauces/delete?id=${a._id}\")`
        div(class="row-sm-2", class="m-1") Company #{a.company}(#{a.package}) is #{a.prize}
     
         button.btn( class="btn-primary ml-1", onclick= destinationcreate) Create
         button.btn( class="btn-info ml-1", onclick= destinationupdate) Update
         button.btn( class="btn-danger ml-1", onclick= destinationdelete) Delete

  script.
      function dispatch(path){
      window.location.href=path
      }
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
      function dispatchCreate(path){
        window.location.href=path
      }
      function dispatchDelete(path){
        window.location.href=path
      }